#post-instagram{
	padding: 30px;
}
#post-instagram .article-entry{
	padding-right: 0;
}
.instagram{
	position: relative;
	min-height: 500px;
}
.instagram img {
	width: 100%;
}
.instagram .year {
	font-size: 16px;
}
.instagram .year{
	display: inline;
}
.instagram a {
	position: relative;
}
.instagram .album h1 em{
	font-style: normal;
	font-size: 14px;
	margin-left: 10px;
}
.instagram .album ul{
	display: flex;
	flex-wrap: wrap;
	clear: both;
	width: 100%;
	text-align: left;
}
.instagram .album li{
	list-style: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	margin-bottom: -10px;
	height: 0;
	width: 25%;
	position: relative;
	padding-bottom: 25%;
}
.instagram .album li:before{
	display: none;
}
.fancybox-caption{
	text-align: center !important;
}
@media screen and (max-width:600px) {
	.instagram .album li {
		width: 100%;
		position: relative;
		padding-bottom: 100%;
		text-align: center;
	}
}